/*hero page design*/
main:nth-child(1){
    width: 1500px;
    height:700px;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}
/*Hello design*/
body>main:first-child>header:first-child>h1:first-child{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 200px;
    left: 100px;
    margin: auto;
    text-align: left;
    font-size: 90px;
    background: linear-gradient(180deg, #770081 31%, #595895 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

/*I'm shimara design*/
body>main:nth-child(1)>main:nth-child(2) > section:first-child > h2:first-child {
    position: absolute;
    top: 300px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    background: linear-gradient(180deg, #FFFFFF 31%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/*Aspiring Software Engineer design*/
body>main:nth-child(1)>main:nth-child(2) > section:nth-child(1) > h3:nth-child(2) {
    position: absolute;
    top: 340px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background: linear-gradient(180deg, #595895 65%, #770081 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
/*main paragraph design*/
body>main:nth-child(1)>main:nth-child(2) > section:nth-child(1) > p:nth-child(3) {
    position: absolute;
    top: 400px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background: linear-gradient(180deg, #F79EFF 65%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*button design*/
body>main:nth-child(1)>main:nth-child(2) > section:nth-child(1) > button {
    position: absolute;
    bottom: 80px;
    left: 100px;
    margin: auto;
    color: #A100FF;
    font-family:'K2D';
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 20px;
    border:5px solid #A100FF;
    border-radius: 50px;
    background:#370634;

}

/*my image*/
body>main:nth-child(1)>main:nth-child(2) > section:nth-child(2)>img:nth-child(1){
    position: absolute;
    top: 95px;
    right: 97px;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

}

/*white circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(2){
    width: 550px;
    height: 550px;
    position: absolute;
    top: 80px;
    right: 200px;
    margin: auto;
    border-radius: 50%;
    border:1px inset #FFFFFF;
    z-index:4;
    clip-path: polygon(-100% 0%, 100% 0%, 100% 100%, 50% 100%);

}

/*picture background circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(1){
    width: 390px;
    height: 390px;
    position: absolute;
    top: 160px;
    right: 275px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #370634 30%, #000136 100%);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 3;

}
/*top -right 2*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(2){
    width: 35px;
    height: 35px;
    position: absolute;
    top: 120px;
    right: 80px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;

}
/*top -right 1*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(3){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 100px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;


}
/*top-left circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(4){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 700px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*bottom-right circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(5){
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 150px;
    right: 100px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*bottom-left circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(6){
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 100px;
    left: 300px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*bottom-left circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(7){
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 100px;
    left: 350px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*bottom-left circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(8){
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 90px;
    left: 300px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*nav section*/
main:nth-child(2){
    width: 1500px;
    height:700px;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}

/*home nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(1){
    width: 27px;
    height: 27px;
    position: relative;
    top: -640px;
    left: 24px;
    margin: auto;
    cursor: hand;

}
/*about me nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(2){
    width: 30px;
    height: 30px;
    position: relative;
    top: -600px;
    left: 60px;
    margin: auto;
}
/*education nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(3){
    width: 40px;
    height: 40px;
    position: relative;
    top: -540px;
    left: 80px;
    margin: auto;
}

/*skills nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(4){
    width: 40px;
    height: 45px;
    position: relative;
    top: -450px;
    left: 50px;
    margin: auto;
}
/*projects nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(5){
    width: 30px;
    height: 30px;
    position: relative;
    top: -378px;
    left: -10px;
    margin: auto;
}
/*gallery nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(6){
    width: 40px;
    height: 40px;
    position: relative;
    top: -310px;
    left: -100px;
    margin: auto;
}
/*contact nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(7){
    width: 30px;
    height: 30px;
    position: relative;
    top: -280px;
    left: -210px;
    margin: auto;

}