
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}
/*--------------------------------------------------hero-----------------------------------------------------*/
/*hero page design*/
body>main:nth-child(1){
    width: 100%;
    height:100vh;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
    margin: 0;
    padding: 0;
    display: flex;
}
/*Hello design*/
body>main:first-child>header:first-child>h4:first-child{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 200px;
    left: 100px;
    margin: auto;
    text-align: left;
    font-size: 90px;
    background: linear-gradient(180deg, #770081 31%, #595895 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

/*I'm shimara design*/
body>main:nth-child(1)>main:nth-child(2) > section:first-child > h2:first-child {
    position: absolute;
    top: 300px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    background: linear-gradient(180deg, #FFFFFF 31%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/*Aspiring Software Engineer design*/
body>main:nth-child(1)>main:nth-child(2) > section:nth-child(1) > h3:nth-child(2) {
    position: absolute;
    top: 340px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background: linear-gradient(180deg, #595895 65%, #770081 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
/*main paragraph design*/
body>main:nth-child(1)>main:nth-child(2) > section:nth-child(1) > p:nth-child(3) {
    position: absolute;
    top: 400px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background: linear-gradient(180deg, #F79EFF 65%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*button design*/
body>main:nth-child(1)>main:nth-child(2) > section:nth-child(1) > button {
    position: absolute;
    bottom: 80px;
    left: 100px;
    margin: auto;
    color: #A100FF;
    font-family:'K2D';
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 20px;
    border:5px solid #A100FF;
    border-radius: 50px;
    background:#370634;

}

/*my image*/
body>main:nth-child(1)>main:nth-child(2) > section:nth-child(2)>img:nth-child(1){
    position: absolute;
    top: 95px;
    right: 97px;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

}

/*white circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(2){
    width: 550px;
    height: 550px;
    position: absolute;
    top: 80px;
    right: 200px;
    margin: auto;
    border-radius: 50%;
    border:1px inset #FFFFFF;
    z-index:4;
    clip-path: polygon(-100% 0%, 100% 0%, 100% 100%, 50% 100%);

}

/*picture background circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(1){
    width: 390px;
    height: 390px;
    position: absolute;
    top: 160px;
    right: 275px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #370634 30%, #000136 100%);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 3;

}
/*top -right 2*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(2){
    width: 35px;
    height: 35px;
    position: absolute;
    top: 120px;
    right: 80px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;

}
/*top -right 1*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(3){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 100px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;


}
/*top-left circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(4){
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 700px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*bottom-right circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(5){
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 150px;
    right: 100px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*bottom-left circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(6){
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 100px;
    left: 300px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*bottom-left circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(7){
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 100px;
    left: 350px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}
/*bottom-left circle*/
body>main:nth-child(1)>main:nth-child(2)>section:nth-child(3)>div:nth-child(8){
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 90px;
    left: 300px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;
}

/*----------------------------------------------nav---------------------------------------------------------*/
/*nav section*/
main:nth-child(2){
    margin: 0;
    padding: 0;
    width: 100%;
    height:100vh;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}

/*home nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(1){
    width: 27px;
    height: 27px;
    position: relative;
    top: -640px;
    left: 24px;
    margin: auto;
    cursor: hand;

}
/*about me nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(2){
    width: 30px;
    height: 30px;
    position: relative;
    top: -600px;
    left: 60px;
    margin: auto;
}
/*education nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(3){
    width: 40px;
    height: 40px;
    position: relative;
    top: -540px;
    left: 80px;
    margin: auto;
}

/*skills nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(4){
    width: 40px;
    height: 45px;
    position: relative;
    top: -450px;
    left: 50px;
    margin: auto;
}
/*projects nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(5){
    width: 30px;
    height: 30px;
    position: relative;
    top: -378px;
    left: -10px;
    margin: auto;
}
/*gallery nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(6){
    width: 40px;
    height: 40px;
    position: relative;
    top: -310px;
    left: -100px;
    margin: auto;
}
/*contact nav image*/
main:nth-child(2)>section:nth-child(1)>nav>img:nth-child(7){
    width: 30px;
    height: 30px;
    position: relative;
    top: -280px;
    left: -210px;
    margin: auto;

}
/*side circle*/
main:nth-child(2)>section:nth-child(1)>div:nth-child(1){
    width: 300px;
    height: 300px;
    position: relative;
    top: 215px;
    left: -790px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%);
}
/*white circle*/
main:nth-child(2)>section:nth-child(1)>div:nth-child(2){
    width: 500px;
    height: 500px;
    position: relative;
    top: -190px;
    left: -750px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid white;
}
/*nav video*/
main:nth-child(2)>section:nth-child(2)>video{
    width: 700px;
    height: 700px;
    position: relative;
    top: -850px;
    right: -500px;
    margin: auto;
    border-radius: 50%;
}

/*------------------------------------------------About-------------------------------------------------------*/
/*about section*/
main:nth-child(3){
    width: 100%;
    height:100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}
/*shimara appuhami*/
main:nth-child(3)>section:nth-child(1)>div:nth-child(1){
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 20px;
    right: -400px;
    margin: auto;
    text-align: left;
    font-size: 40px;
    background: linear-gradient(180deg, #595895 65%, #7700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
/*Aspiring software engineer*/
main:nth-child(3)>section:nth-child(1)>div:nth-child(2){
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 20px;
    right: -400px;
    margin: auto;
    text-align: left;
    font-size: 40px;
    background: linear-gradient(180deg, #595895 42%, #7700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
/*about me picture*/
main:nth-child(3)>img{
    width: 150px;
    height: 80%;
    position: relative;
    top: 50px;
    left: 100px;
    margin: auto;

}
/*about word*/
main:nth-child(3)>section:nth-child(3)>div{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: -505px;
    right: -400px;
    margin: auto;
    text-align: left;
    font-size: 27px;
    background: linear-gradient(180deg, #FFFFFF 65%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;

}
/*about paragraph*/
main:nth-child(3)>section:nth-child(3)>p{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: -505px;
    right: -400px;
    margin: auto;
    text-align: left;
    font-size: 27px;
    background: linear-gradient(180deg, #FFFFFF 65%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:0;
}
/*background word*/
main:nth-child(3)>section:nth-child(4)>div{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: -505px;
    right: -400px;
    margin: auto;
    text-align: left;
    font-size: 27px;
    background: linear-gradient(180deg, #FFFFFF 65%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;

}
/*background paragraph*/
main:nth-child(3)>section:nth-child(4)>p{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: -505px;
    right: -400px;
    margin: auto;
    text-align: left;
    font-size: 27px;
    background: linear-gradient(180deg, #FFFFFF 65%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
/*-------------------------------------------------Education------------------------------------------------------*/
/*education section*/
main:nth-child(4){
    width: 100%;
    height:100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}
/*edu title*/
main:nth-child(4)>header>div:nth-child(1){
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 20px;
    left: 550px;
    right: -540px;
    margin: auto;
    text-align: left;
    font-size: 40px;
    background: linear-gradient(180deg, #FFFFFF 28%, #5553A9 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;

}
/*edu 1 white border line*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(1){
    width: 200px;
    height: 300px;
    position: relative;
    top: 150px;
    left: -350px;
    margin: auto;
    border-radius: 35px;
    border: 1px solid gray;
    box-shadow: 1px 5px 10px 1px #770081 ;


}
/*princess image*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(1)>img:nth-child(1){
    width: 150px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 25px;
    border-radius: 15px;
}
/*princess name*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(1)>h6{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 30px;
    left: 25px;
    margin: auto;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 50;
}
/*princess address*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(1)>address{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 30px;
    left: 70px;
    margin: auto;
    font-size: 15px;
    color: #FFFFFF;
}
/*princess about more button*/

main:nth-child(4)>section:nth-child(2)>div:nth-child(1)>button{
    width: 85px;
    height: 25px;
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 65px;
    left: 58px;
    margin: auto;
    font-size: 15px;
    color: #FFFFFF;
    background: linear-gradient(10deg, #00428D 0%, #001227 100%);
    border-radius: 50px;



}
/*edu 2 white border line*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(2){
    width: 200px;
    height: 300px;
    position: relative;
    top: -150px;
    left: -50px;
    margin: auto;
    border-radius: 35px;
    border: 1px solid gray;
    box-shadow: 1px 5px 10px 1px #770081 ;


}
/*IJSE image*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(2)>img:nth-child(1){
    width: 150px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 25px;
    border-radius: 15px;
}
/*IJSE name*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(2)>h6{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 30px;
    left: 50px;
    margin: auto;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 50;
}
/*IJSE address*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(2)>address{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 50px;
    left: 45px;
    margin: auto;
    font-size: 15px;
    color: #FFFFFF;
}
/*IJSE about more button*/

main:nth-child(4)>section:nth-child(2)>div:nth-child(2)>button{
    width: 85px;
    height: 25px;
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 80px;
    left: 58px;
    margin: auto;
    font-size: 15px;
    color: #FFFFFF;
    background: linear-gradient(10deg, #00428D 0%, #001227 100%);
    border-radius: 50px;



}
/*edu 3 white border line*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(3){
    width: 200px;
    height: 300px;
    position: relative;
    top: -451px;
    left: 250px;
    margin: auto;
    border-radius: 35px;
    border: 1px solid gray;
    box-shadow: 1px 5px 10px 1px #770081 ;


}
/*AAT image*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(3)>img:nth-child(1){
    width: 150px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 25px;
    border-radius: 15px;
}
/*AAT name*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(3)>h6{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 30px;
    left: 60px;
    margin: auto;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 50;
}
/*AAT address*/
main:nth-child(4)>section:nth-child(2)>div:nth-child(3)>address{
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 50px;
    left: 50px;
    margin: auto;
    font-size: 15px;
    color: #FFFFFF;
}
/*AAt about more button*/

main:nth-child(4)>section:nth-child(2)>div:nth-child(3)>button{
    width: 85px;
    height: 25px;
    font-family: 'Katibeh', sans-serif;
    position: relative;
    top: 80px;
    left: 58px;
    margin: auto;
    font-size: 15px;
    color: #FFFFFF;
    background: linear-gradient(10deg, #00428D 0%, #001227 100%);
    border-radius: 50px;



}

/*---------------------------------------------------Skills----------------------------------------------------*/
/*skills page*/
main:nth-child(5){
    width: 100%;
    height:100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background: linear-gradient(180deg, #FFFFFF 46%, white 100%);
}
/*skills head*/
main:nth-child(5)>section:nth-child(1)>h1{
    font-family: 'Inter', sans-serif;
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 28%, #5553A9 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    top:50px;
    left: -20px;
    z-index: 1;
    font-weight:400;


}
/*skills background bar*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(2){
    width: 1300px;
    height: 200px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    top: -100px;
    left: 100px;
    border-radius: 20px;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}
/*skills backend card*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(3){
    width: 300px;
    height: 400px;
    position: relative;
    top: -125px;
    left: 150px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 5px 1px gray;


}
/*backend image*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(3)>img{
    width: 200px;
    height: 100px;
    position: relative;
    top: 1px;
    left: 50px;


}
/*back-end name*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(3)>h4 {
    font-family: 'Inter', sans-serif;
    position: relative;
    top: -20px;
    left: 50px;
    font-size: 20px;
    color: black;
    font-weight: 600;


}
/*backend p*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(3)>p {
    font-family: 'Inter', sans-serif;
    position: relative;
    top: -20px;
    left: 17px;
    font-size: 15px;
    color: gray;
    font-weight: 450;


}
/*backend languages java*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(3)>div:nth-child(4)>img {
    width: 40px;
    height: 40px;
    position: relative;
    top: -10px;
    left: 125px;


}
/*backend languages mysql*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(3)>div:nth-child(5)>img {
    width: 35px;
    height: 35px;
    position: relative;
    top: -10px;
    left: 125px;


}
/*skills front end card*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(4){
    width: 300px;
    height: 400px;
    position: relative;
    top: -525px;
    left: 600px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 5px 1px gray;


}
/*front image*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(4)>img{
    width: 100px;
    height: 50px;
    position: relative;
    top: 30px;
    left: 100px;


}
/*front-end name*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(4)>h4 {
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 20px;
    left: 50px;
    font-size: 20px;
    color: black;
    font-weight: 600;


}
/*front-end p*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(4)>p {
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 15px;
    color: gray;
    font-weight: 450;


}
/*front-end languages html*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(4)>div:nth-child(4)>img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 125px;


}
/*front-end languages css*/

main:nth-child(5)>section:nth-child(1)>div:nth-child(4)>div:nth-child(5)>img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 125px;


}
/*front-end languages css*/

main:nth-child(5)>section:nth-child(1)>div:nth-child(4)>div:nth-child(6)>img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 125px;


}
/*skills designer card*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(5){
    width: 300px;
    height: 400px;
    position: relative;
    top: -925px;
    left: 1050px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 5px 1px gray;


}
/*designer image*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(5)>img{
    width: 100px;
    height: 50px;
    position: relative;
    top: 30px;
    left: 100px;


}
/*designer name*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(5)>h4 {
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 20px;
    left: 100px;
    font-size: 20px;
    color: black;
    font-weight: 600;


}
/*designer p*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(5)>p {
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 15px;
    color: gray;
    font-weight: 450;


}
/*designer languages figma*/
main:nth-child(5)>section:nth-child(1)>div:nth-child(5)>div:nth-child(4)>img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 125px;


}

/*------------------------------------------------Achievements-------------------------------------------------------*/
/* Achievement page */
main:nth-child(6) {
    width: 100%;
    height:100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);

}

/* Achievement title */
main:nth-child(6) > header > h1 {
    font-family: 'Inter', sans-serif;
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 28%, #5553A9 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    top:30px;
    left: -20px;
    z-index: 1;
    font-weight:400;

}

/* My Journey of Success p */
main:nth-child(6) > header > p {
    font-size: 20px;
    color: rgba(182, 181, 181, 0.85);
    /*text-align: center;*/
    margin-top: 30px;
    position: relative;
    left: 660px;
    width: 700px;
    font-style: italic;
}
@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');


/* Inovesta card */
.card1 {
    text-align:center;
    position: absolute;
    left: 450px;
    width: 250px;
    height: 350px;
    margin-top: -20px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(225,150,58),rgb(227,144,91));
    transition:.6s;

    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}

/*inovesta card1 hover*/
.card1:hover{
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


/*inovesta image */
.card1 img{
    transform: translateY(15px);
    width:200px;
    height:120px;
}

/*inovesta card header */
.card1 h3{
    font-size:25px;
    font-family: 'Abel', sans-serif;
    color:rgb(255,255,255);
    text-shadow: 0 0 2px rgb(255,255,255);
    transform: translatey(10px);
}
/*inovesta paragraph*/
.card1 p{

    font-family: 'Abel', sans-serif;
    color: white;
    text-align:center;
    width:220px;
    transform: translatex(12px);
}

/*CMJD card */
.card2 {
    text-align:center;
    position: absolute;
    left: 450px;
    width: 250px;
    height: 350px;
    margin-top: 200px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(93,94,170),rgb(93,66,103));
    animation: animate 1s linear infinite;
    transition:.6s;

    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

/*CMJD header*/
.card2 h3{
    font-size:25px;
    font-family: 'Abel', sans-serif;
    color:rgb(255,255,255);
    text-shadow: 0 0 2px rgb(255,255,255);
    transform: translatey(10px);
}
/*CMJD paragraph*/
.card2 p{

    font-family: 'Abel', sans-serif;
    color: white;
    text-align:center;
    width:220px;
    transform: translatex(12px);
}

/*CMJD card hover*/
.card2:hover{
    transform: rotatex(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

/*CMJD Image*/
.card2 img{
    transform: translateY(15px);
    width:180px;
    height:150px;
}

/*HackerRank card*/
.card3 {
    text-align:center;
    position: absolute;
    left: 790px;
    width: 250px;
    height: 350px;
    margin-top: -20px;
    background: linear-gradient(#ff5252, #b33939);
    transition:.6s;

    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
/*HackerRank header*/
.card3 h3{
    font-size:25px;
    font-family: 'Abel', sans-serif;
    color:rgb(255,255,255);
    text-shadow: 0 0 2px rgb(255,255,255);
    transform: translatey(10px);
}
/*HackerRank paragraph*/
.card3 p{

    font-family: 'Abel', sans-serif;
    color: white;
    text-align:center;
    width:220px;
    transform: translatex(12px);
}
/*HackerRank card hover*/
.card3:hover{
    transform: rotatex(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

/*HackerRank Image*/
.card3 img{
    transform: translateY(15px);
    width:200px;
    height:120px;
}

/*Swimming card*/
.card4 {
    text-align:center;
    position: absolute;
    left: 790px;
    width: 250px;
    height: 350px;
    margin-top: 200px;
    margin-bottom: 10px;
    background: linear-gradient(#52ffdf, #39b3a5);
    transition:.6s;

    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

/*Swimming header*/
.card4 h3{
    font-size:25px;
    font-family: 'Abel', sans-serif;
    color:rgb(255,255,255);
    text-shadow: 0 0 2px rgb(255,255,255);
    transform: translatey(10px);
}
/*Swimming paragraph*/
.card4 p{

    font-family: 'Abel', sans-serif;
    color: white;
    text-align:center;
    width:220px;
    transform: translatex(12px);
}
/*Swimming card hover*/
.card4:hover{
    transform: rotatex(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

/*Swimming Image*/
.card4 img{
    transform: translateY(15px);
    width:200px;
    height:120px;
}
/*Line*/
.line{

    height: 70%;
    width: 2px;
    position: relative;
    top: 10px;
    left: 49%;

    background: white;
}

/*-------------------------------------------Project-----------------------------------------------*/
/* Project section */
main:nth-child(7) {
    width: 100%;
    height: 250vh;
    margin-top: -50px;
    margin-bottom: 0;
    padding: 0;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}

/* Project page title - Latest Work */
main:nth-child(7) > header > h3 {
    font-family: 'Inter', sans-serif;
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 28%, #5553A9 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    top: 15px;
    z-index: 1;
    font-weight: 400;
}

/* Sticky bars section */
main:nth-child(7) > section:nth-child(1) {
    margin-bottom: 50px;
    position: relative;
    right: -450px;
}

/* Sticky bars styling */
.sticky-bar1, .sticky-bar2, .sticky-bar3, .sticky-bar4 {
    width: 400px;
    height: 350px;
    background: linear-gradient(10deg, #223A60 0%, #3B5998 100%);
    color: #A9A9A9;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: sticky;
    z-index: 1;
    border-radius: 40px;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
    left: 550px;
}

.sticky-bar1 {
    top: 40px;
}

.sticky-bar2 {
    top: 50px;
}

.sticky-bar3 {
    top: 70px;
}

.sticky-bar4 {
    background: linear-gradient(10deg, #223A60 0%, #5C3D99 100%);
    top: 80px;
}

/* Image styling */
main:nth-child(7) > section > div:nth-child(1) > img,
main:nth-child(7) > section > div:nth-child(2) > img,
main:nth-child(7) > section > div:nth-child(3) > img,
main:nth-child(7) > section > div:nth-child(4) > img {
    width: 420px;
    height: 250px;
    border-radius: 20px;
    position: relative;
    box-shadow: 1px 5px 10px rgba(2, 16, 60, 0.8);
}

/* Image positioning */
main:nth-child(7) > section > div:nth-child(1) > img {
    top: -60px;
    left: -86px;
}
main:nth-child(7) > section > div:nth-child(2) > img {
    top: -50px;
    left: -52px;
}
main:nth-child(7) > section > div:nth-child(3) > img {
    top: -50px;
    left: -113px;
}
main:nth-child(7) > section > div:nth-child(4) > img {
    top: -50px;
    left: -91px;
}

/* Text styling */
main:nth-child(7) > section > div > h4 {
    font-family: "Inter", sans-serif;
    color: #EFEFEF;
    font-size: 20px;
    position: relative;
    left: 100px;
    bottom: -110px;
    display: inline;
    text-align: left;
    font-weight: 450;
}
/*------------------------------------------Assignments------------------------------------------*/
/*Assignment Section*/
main:nth-child(8) {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
    font-family: "Martel Sans", sans-serif;
}
/*cover sub title*/
main:nth-child(8) > .animate p {
    font-size: 17px;
    line-height: 1.4;
    display: block;
    position: relative;
    left: -80px;
    color: #4B0082FF;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}
/*Module header*/
main:nth-child(8) > header > h3 {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 28%, #5553A9 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    margin-top: 240px;
    margin-left: 50px;
    font-weight: 400;
}

/* Card container for horizontal scroll */
.card-container {
    display: flex; /* Horizontal flex layout */
    flex-direction: row; /* Arrange cards in a row */
    gap: 150px; /* Add space between cards */
    padding: 2rem;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
    white-space: nowrap; /* Prevent wrapping */
    position: relative;
    top: 200px;
    left: 100px;
    margin-bottom: 100px
}

/*cards*/
.wrap {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 270px;
    border: 8px solid;
    border-image: linear-gradient(-50deg, #000136, indigo, #370634) 1;
    transition: 0.3s ease-in-out;
    position: relative;
    /*top: 100px;*/
    overflow: hidden;
    scroll-snap-align: start;
    flex-shrink: 0;
}

/* Animation for pop effect */
.animate {
    font-size: 15px;
    text-align: center;
    color: white;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
}
/*---------------------------------------------Gallery------------------------------------------------*/


/*gallery section*/
main:nth-child(9) {
    width: 100%;
    height: 100vh;
    margin-top: -50px;
    padding: 0;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}
/*gallery header*/
main:nth-child(9)>header>h3 {
    font-family: 'Inter', sans-serif;
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 28%, #5553A9 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    top:15px;
    z-index: 1;
    font-weight:400;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

/*transition*/
:root {
    --transition-time: 2.3s;
}


/*gallery body*/
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
    justify-items: center;
}


/*gallery card*/
.card {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 10px 0;
    transition: ease all var(--transition-time);
    perspective: 1200px;


}


.card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
    transform: translateZ(30px);
}


.card:hover h1 {
    transform: translateZ(100px);
}

.card:hover .price {
    transform: translateZ(60px);
}

.card:hover a {
    transform: translateZ(-60px) rotateY(-180deg);
}

/*card cover side*/
.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.cover:before {
    content: '';
    position: absolute;
    border: 5px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    transition: ease all var(--transition-time);
    transform-style: preserve-3d;
    transform: translateZ(0px);
}

.cover:after {
    content: ''; /*empty psudo element*/
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    transition: ease all 1.3s;
    /*background: rgba(0, 0, 0, .4);*/
}

.cover.item-a {
    background-image: url('assets/images/gallery/IMG-20240623-WA0169.jpg');
}

.cover.item-b {
    background-image: url('assets/images/gallery/IMG-20230322-WA0141~2.jpg');
}

.cover.item-c {
    background-image: url('assets/images/gallery/IMG-20230609-WA0016~2.jpg');
}

/*cover header*/
h1 {
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    z-index: 3;
    font-size: 3em;
    transform: translateZ(0px);
}

/*card back side*/
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    /*background-image:url('assets/images/gallery/lotusTower.png') ;*/
    background: transparent;
    transform-style: preserve-3d;
    transition: ease all var(--transition-time);
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------contact------------------------------------------------*/
/*contact section*/
main:nth-child(10) {
    width: 100%;
    height: 100vh;
    margin-top: -50px;
    padding: 0;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
    overflow: hidden;
}
/*contact header*/
main:nth-child(10)>header>h3{
    font-family: 'Inter', sans-serif;
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 28%, #5553A9 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    top:15px;
    z-index: 1;
    font-weight:400;
}
/*Lets start project title*/
main:nth-child(10)>section:nth-child(2)>h6{
    font-family: 'Inter', sans-serif;
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 28%, #FFFFFF 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: left;
    top:40px;
    left: 70px;
    z-index: 1;
    font-weight:600;

}
/*icons*/
main:nth-child(10)>section:nth-child(3)>div>a>img{
    position: relative;
    display: inline;
    width: 50px;
    height: 50px;
    justify-items: left;
    left: 70px;
    border-radius: 50%;
    margin: 15px;
    background: #FFFFFF;

}
/*!*contact form*!*/
/*main:nth-child(9)>section:nth-child(4)>form{*/
/*    position: relative;*/
/*    left: 600px;*/
/*    top: -280px;*/
/*    margin: auto;*/
/*    color: #FFFFFF;*/
/*    font-size: 15px;*/
/*    font-weight: 200;*/

/*}*/
/*contact me img*/
main:nth-child(10)>section:nth-child(5)>img{
    width: 100px;
    height: 100px;
    position: relative;
    right: -1200px;
    top: -500px;
    border-radius: 50%;
    margin-right: 20px;
    background: #e8e7e7;

}
/*email and nb*/
main:nth-child(10)>section:nth-child(5)>label{
    font-family: "Inter",sans-serif;
    position: relative;
    right: -1175px;
    top: -490px;
    font-size: 15px;
    font-weight: 200;
    color: #FFFFFF;
    display: block;

}
/*contact-right 1*/
.contact-circle div:nth-child(1){
    width: 40px;
    height: 40px;
    position: relative;
    top: -850px;
    right: -600px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;

}
/*contact-bottom big*/
.contact-circle div:nth-child(2){
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 400px;
    left: -650px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;

}
/*contact-bottom small 2*/
.contact-circle div:nth-child(3){
    width: 35px;
    height: 35px;
    position: relative;
    bottom: 410px;
    left: -600px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;

}
/*contact-bottom small 1*/
.contact-circle div:nth-child(4){
    width: 35px;
    height: 35px;
    position: relative;
    bottom: 550px;
    left: -640px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #26256a 10%, #770081 100%,transparent);

    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    z-index: 5;

}
/*type form*/
form {
    width: 300px;
    margin: 20px auto;

}
/*line*/
fieldset {
    position: relative;
    border: none;
    top: -250px;
    left: 30px;
    font-family: "Inter",sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
}

input {
    font-size: 12px;
    width: 100%;
    border: none;
    margin-top: 10px;
    background: transparent;
    outline: none;
    color: #FFFFFF;


}
.after {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
}
