/*hero page design*/
main:nth-child(1){
    width: 1500px;
    height:700px;
    background: linear-gradient(180deg, #000136 46%, #370634 100%);
}
/*Hello design*/
body>main:first-child>header:first-child>h1:first-child{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 200px;
    left: 100px;
    margin: auto;
    text-align: left;
    font-size: 90px;
    background: linear-gradient(180deg, #770081 31%, #595895 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

/*I'm shimara design*/
body>main:nth-child(1)>main:nth-child(2) > section:first-child > h2:first-child {
    position: absolute;
    top: 300px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    background: linear-gradient(180deg, #FFFFFF 31%, #8A7B7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
